html {
  font-family: georgia;
  box-sizing: border-box;
  font-family: sans-serif;
}
*,*:before,*:after{
  box-sizing: inherit;
}
table {
    border-collapse: collapse;
  }
  th {
    padding: 0.5em; 
    text-align: left;
  }
  td {
    padding: 0.5em;  
    border: 1px solid #CCC;
  }
  button:first-of-type {
    margin-right: 5px;
  }
  tr:nth-child(2n+2) {
    background-color: #8D28A4;
    color: white;
  }
.hidden{
    display: none;
  }
form label, form input {
  display: table-cell;
  margin-bottom: 10px;
}
form label {
  display: inline
}
.btn {
  background-color: white;
  color: black;;
  border: 2px solid #8D28A4;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 10px;
  transition-duration: 0.3s;
  font-family: Georgia;
}
.btn:hover {
  background-color: #8D28A4;
  color: white;
}
